<div class="slider z-depth-3 hoverable">
  <ul class="slides">
    <li>
      <%= image_tag("luggage.jpg", :alt => "luggage") %>
        <div class="caption left-align">
          <h3>Flyght</h3>
          <h5 class="light grey-text text-lighten-3">Make your dreams come true.</h5>
        </div>
    </li>
    <li>
      <%= image_tag("plane.jpg", :alt => "plane") %>
      <div class="caption center-align">
        <h3>Book your flight.</h3>
      </div>
    </li>
    <li>
      <%= image_tag("clouds.jpg", :alt => "cloud") %>
      <div class="caption right-align">
        <h3>Explore the clouds.</h3>
      </div>
    </li>
    <li>
      <%= image_tag("sunrise.jpg", :alt => "sunrise") %>
      <div class="caption center-align">
        <h3>Travel the world.</h3>
      </div>
    </li>
  </ul>
</div>
