<div class="container">
  <div class="row">

    <%= render partial: "flights/partials/search_form", locals: { airports: @airports } %>

    <div class="row" id="results">
      <%= render partial: "flights/partials/slider" %>
    </div>
  </div>
</div>
