<div class="container">
  <div class="row">

    <%= render partial: "flights/partials/search_form", locals: { airports: @airports } %>

    <div class="row" id="results">
      <h1 class="brand-logo-large center-align col s12 m6 l4 offset-m3 offset-l4 z-depth-4 light-blue-text text-darken-4 hoverable">Welcome to Flyght<h1>
    </div>
  </div>
</div>
