<header>
<div class="navbar-fixed">
    <nav class="light-blue darken-4">
        <div class="nav-wrapper row container">
            <%= link_to "Flyght", root_url, class: "brand-logo" %>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><%= link_to "Manage Booking", manage_path %></li>
            </ul>
        </div>
    </nav>
</div>
</header>
