<header>
<div class="navbar-fixed">
    <nav class="light-blue darken-4 z-depth-4">
        <div class="nav-wrapper row container">

            <%= link_to "Flyght", root_path, class: "brand-logo" %>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><%= link_to "Manage Booking", root_path %></li>
              <li><%= link_to "Sign Up", root_path %></li>
              <li><%= link_to "Sign In", root_path %></li>
            </ul>

        </div>
    </nav>
</div>
</header>
