// Place all the styles related to the Flights controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#flights {
  margin-top: 40px;
}

#flight_label {
  font-weight: bold;
  font-size: 120%;
}

#flight_form {
  margin-top: 40px;
}

#search {
  margin-bottom: 20px;
}

#error_explanation {
  color: darken(red, 10%);
  padding: em(15px);
}
